@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "User Management";
}

<h1>User Management</h1>

<p>
    <a asp-action="CreateUser">Create a New User</a> | <a asp-action="CreateRole">Create a New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="UserRoles" asp-route-id="@item.Id">Manage roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
