@model ECommerceApp.Models.UserRoleModel

@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>

<div>
    <h4>User Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <h4>Roles</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.Display("Role Name")
                </th>
                <th>
                    @Html.Display("User has role")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.roles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasRole)
                    </td>
                    <td>
                        @Html.ActionLink(item.HasRole ? "Remove" : "Add","AddRemoveRole","Administration",new { userId = Model.Id, roleId = item.RoleId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Users">Back to List</a>
</div>
